<a href="https://colab.research.google.com/github/alecsandergr/python-fundamentos-dsa/blob/main/Cap7/missao5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.13

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

**Contagem de Consumidores**

* Número total de consumidores


**Análise Geral de Compras**

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


**Informações Demográficas Por Gênero**

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


**Análise de Compras Por Gênero**

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


**Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela):**

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra


**Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela):**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


**Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


**Como considerações finais:**

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [3]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Carrega o arquivo
load_file = '/content/drive/MyDrive/Python Fundamentos DSA/Cap 07/Dados/dados_compras.json'
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

### Número total de consumidores

Como cada compra de item é registrada, deve-se obter os valores únicos da variável `Login`

In [5]:
dados_consumidores = purchase_file.loc[:, ['Login', 'Idade', 'Sexo']].drop_duplicates()
dados_consumidores

             Login  Idade       Sexo
0        Aelalis34     38  Masculino
1           Eolo46     21  Masculino
2      Assastnya25     34  Masculino
3     Pheusrical25     21  Masculino
4           Aela59     23  Masculino
..             ...    ...        ...
771     Lassista97     24  Masculino
772        Sidap51     15  Masculino
773  Chamadarsda63     21  Masculino
778     Quelaton80     20  Masculino
779         Alim85     23   Feminino

[573 rows x 3 columns]

In [49]:
total_consumidores = pd.DataFrame({'Total de Consumidores': [dados_consumidores.count()[0]]})
total_consumidores

   Total de Consumidores
0                    573

## Análise Geral de Compras

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total

In [7]:
itens_exclusivos = purchase_file['Item ID'].unique()
itens_exclusivos

array([165, 119, 174,  92,  63,  10, 153, 169, 118,  99,  57,  47,  81,
        76,  44,  96, 123,  59,  91, 177,  78,   3,  11, 183,  65, 132,
       106,  49,  45, 155,  37,  48,  90,  13, 171,  25,   7, 124,  68,
        85, 120,  17, 141,  73, 151,  32,  51, 101, 140,  31,  34,   2,
        86,  39,  28, 160, 134,  83,  38, 158, 110, 122,  54, 105,  87,
        23, 144, 128, 175,  46, 150, 152, 108, 172, 167, 181,  20, 130,
       111, 103,  30, 139, 173,  55, 115,  35,  42,   9,  84, 180, 102,
        53,  18,  74, 126,  50,  62, 125, 121, 129, 149,  12,  71,  14,
        58,  27,  52,  66, 100, 112,  24,  94, 107,   0, 182,  97,  70,
        89,   1, 170,  93, 179,  36,  75, 143, 137, 176, 148, 127, 147,
       161, 154, 157, 116,  61, 131,  41, 145,  60, 162, 135,   8,  40,
        15,  29,  72, 114,  77, 117,  79,  88, 104,  95,  64,  98,  33,
       146, 166,  56,  22,  21,  16,  67, 133,  69, 159,  82, 113, 164,
         6, 163,   5,  19, 168, 136,  80,  26, 142, 178, 156, 109,  43,
         4])

In [8]:
print(f'O número de itens exclusivos é: {itens_exclusivos.shape[0]}')

O número de itens exclusivos é: 183

In [9]:
resumo = pd.DataFrame()
resumo['Preço Médio'] = [round(purchase_file['Valor'].mean(),2)]
resumo['Soma das Vendas'] = [purchase_file['Valor'].sum()]
resumo['Contagem das Vendas'] = [purchase_file['Valor'].count()]
resumo['Itens únicos'] = [itens_exclusivos.shape[0]]
resumo.head()

   Preço Médio  Soma das Vendas  Contagem das Vendas  Itens únicos
0         2.93          2286.33                  780           183

## Informações Demográficas Por Gênero

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados

In [45]:
contagem_genero = dados_consumidores['Sexo'].value_counts()
percentagem_genero = (contagem_genero/total_consumidores.iloc[0,0])*100
resumo_demografia = pd.DataFrame({'Sexo': contagem_genero,
                                  'Percentagem': round(percentagem_genero,2)})
resumo_demografia

                       Sexo  Percentagem
Masculino               465        81.15
Feminino                100        17.45
Outro / Não Divulgado     8         1.40

## Análise de Compras Por Gênero

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária

In [69]:
resumo_genero = purchase_file.groupby('Sexo')['Valor'].agg(['sum', 'count', 'mean']).sort_values('count', ascending=False)
resumo_genero.rename(columns = {'sum': 'Valor Total de Compra',
                                'count': 'Número de compras', 
                                'mean': 'Preço Médio'}, inplace=True)
resumo_genero['Preço Médio'] = round(resumo_genero['Preço Médio'],2)

# O total normalizao conta apenas os clientes únicos
resumo_genero['Total Normalizado'] = round(resumo_genero['Valor Total de Compra']/resumo_demografia['Sexo'],2)
resumo_genero

,Valor Total de Compra,Número de compras,Preço Médio,Total Normalizado
Sexo,,,,
Masculino,1867.68,633,2.95,4.02
Feminino,382.91,136,2.82,3.83
Outro / Não Divulgado,35.74,11,3.25,4.47

Compras por faixa etária

In [71]:
valores_fe = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150]
texto_fe = ['Menos de 10', '10 a 14', '15 a 19', '20 a 24', '25 a 29', '30 a 34', '35 a 39', 'Mais de 40']
purchase_file['Faixa Etária'] = pd.cut(purchase_file['Idade'], bins = valores_fe, labels=texto_fe)
purchase_file

,Login,Idade,Sexo,Item ID,Nome do Item,Valor,Faixa Etária
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37,35 a 39
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32,20 a 24
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46,30 a 34
3,Pheusrical25,21,Masculino,92,Final Critic,1.36,20 a 24
4,Aela59,23,Masculino,63,Stormfury Mace,1.27,20 a 24
...,...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62,20 a 24
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36,10 a 14
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15,20 a 24
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72,20 a 24
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61,20 a 24

In [80]:
resumo_fe = purchase_file.groupby('Faixa Etária')['Valor'].agg(['sum', 'mean', 'count']).sort_values('count', ascending=False)
resumo_fe.rename(columns = {'sum': 'Valor Total de Compra',
                            'count': 'Número de compras', 
                            'mean': 'Preço Médio'}, inplace=True)

resumo_fe['Preço Médio'] = round(resumo_fe['Preço Médio'],2)
resumo_fe['Percentagem de Compras'] = round((resumo_fe['Número de compras']/total_consumidores.iloc[0,0])*100,2)


resumo_fe = resumo_fe.sort_index()
resumo_fe

,Valor Total de Compra,Preço Médio,Número de compras,Percentagem de Compras
Faixa Etária,,,,
Menos de 10,83.46,2.98,28,4.89
10 a 14,96.95,2.77,35,6.11
15 a 19,386.42,2.91,133,23.21
20 a 24,978.77,2.91,336,58.64
25 a 29,370.33,2.96,125,21.82
30 a 34,197.25,3.08,64,11.17
35 a 39,119.40,2.84,42,7.33
Mais de 40,53.75,3.16,17,2.97

## Consumidores Mais Populares (Top 5)

 Pelo valor total de compra

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra

In [121]:
top_5_clientes = purchase_file.groupby('Login')['Valor'].agg(['count', 'mean', 'sum'])
top_5_clientes = top_5_clientes.sort_values('sum', ascending=False)
top_5_clientes.rename(columns = {'count': 'Número de Compras', 
                                 'mean': 'Preço Médio', 
                                 'sum': 'Valor Total'}, inplace=True)
top_5_clientes.head()

             Número de Compras  Preço Médio  Valor Total
Login
Undirrala66                  5     3.412000        17.06
Saedue76                     4     3.390000        13.56
Mindimnya67                  4     3.185000        12.74
Haellysu29                   3     4.243333        12.73
Eoda93                       3     3.860000        11.58

## Itens Mais Populares

Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela):

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra

In [216]:
teste = pd.DataFrame(purchase_file.groupby(['Nome do Item', 'Item ID'])['Item ID'].count())
teste = teste.rename(columns = {'Item ID': 'Contagem'}).reset_index()
teste[teste.duplicated('Nome do Item', keep=False)]

                   Nome do Item  Item ID  Contagem
28                     Crucifer        1         4
29                     Crucifer       23         4
57                 Final Critic       92         8
58                 Final Critic      101         6
99                   Persuasion      132         2
100                  Persuasion      141         5
103  Piety, Guardian of Riddles       76         1
104  Piety, Guardian of Riddles       77         4
141                 Stormcaller       30         5
142                 Stormcaller      180         5

Alguns itens possuem um ID diferente, mesmo tendo o mesmo nome, na análise eles foram contabilizados por ID

In [129]:
top_5_itens = purchase_file.groupby(['Item ID', 'Nome do Item', 'Valor'])['Valor'].agg(['count', 'sum'])
top_5_itens.rename(columns = {'count': 'Número de compras',
                              'sum': 'Valor Total de Compra'}, inplace=True)
top_5_itens.sort_values('Número de compras', ascending=False).head(5)

,,,Número de compras,Valor Total de Compra
Item ID,Nome do Item,Valor,,
84,Arcane Gem,2.23,11,24.53
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
31,Trickster,2.07,9,18.63
34,Retribution Axe,4.14,9,37.26
175,Woeful Adamantite Claymore,1.24,9,11.16

## Itens Mais Lucrativos

Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra

In [130]:
top_5_itens.sort_values('Valor Total de Compra', ascending=False).head()

,,,Número de compras,Valor Total de Compra
Item ID,Nome do Item,Valor,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88

## Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>